<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TempPath" value="C:\XflNotification\Temp\" />
		<add key="LogFilePath" value="C:\XflNotification\Logs\" />

		<add key="LogLevel" value="3" />

		<add key="MainDatabaseHost" value="DALSQLDEV50" />
		<add key="MainDatabaseName" value="sendero" />

		<add key="LoaderTransaction[0]" value="The XFL Xpressfeed Loader has successfully completed download and process daily transaction from S&amp;P CompuStat." />
		<add key="LoaderTransaction[1]" value="The XFL Xpressfeed Loader has failed during daily transaction download and process. Please review XFL_MessageLog table for additional information." />
		<add key="ShortInterestImport[0]" value="The XFL Service has successfully completed the import of Short Interest data from XFL db to Sendero db." />
		<add key="ShortInterestImport[1]" value="The XFL Service has failed to import Short Interest data from XFL db to Sendero db." />

	</appSettings>
</configuration>
