<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HeartbeatInterval" value="20000" />
    <add key="TempPath" value="C:\LoanStar\Temp\" />
    <add key="LogFilePath" value="C:\LoanStar\Logs\" />
    <add key="LogLevel" value="3" />

    <add key="MainDatabaseHost" value="DALSQLDev50" />
    <add key="MainDatabaseName" value="Locates" />

    <add key="ChannelProtocol" value="tcp" />    
    <add key="ChannelFormatter" value="binary" />    
    <add key="ChannelPort" value="8822" />
    
	<add key="RemotingPort" value="8822" />
    <add key="CountryCode" value="US" />

	<!-- ABR: Development/Test Automated Borrow Return File Loanet FTP, using Penson FTP site -->
	<add key="LoanetAutomatedBorrowReturnPathName" value="/" />
	<add key="LoanetAutomatedBorrowReturnFileName" value="DBI0234" />
	<add key="LoanetHostName" value="DalHQ-FTP02.Penson.Com" />
	<add key="LoanetUserName" value="sthree" />
	<add key="LoanetPassword" value="8lQz3oGS" />

	<!-- ABR: Production Automated Borrow Return File Loanet FTP -->
	<!-- 
		<add key="LoanetAutomatedBorrowReturnPathName" value="/0234/sod/" />
		<add key="LoanetAutomatedBorrowReturnFileName" value="DBI0234" />
		<add key="LoanetHostName" value="ftp.loanet.com" />
		<add key="LoanetUserName" value="0234" />
		<add key="LoanetPassword" value="rid7bwk3bs" />
	-->


  </appSettings>

	
  <system.runtime.remoting>
  <customErrors mode="Off"/>
    <application>      
      <channels>
        <channel ref="http" port = "0">
          <!-- Framework 1.1-->
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
          <serverProviders>
            <provider ref="binary"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>   
  </system.runtime.remoting>


	<system.serviceModel>

		<services>
			<service behaviorConfiguration="WcfBehavior" name="StockLoan.Locates.LocateServer">
				<endpoint address="net.tcp://localhost:5000/LocatesWebService"
						  binding="netTcpBinding" bindingConfiguration="netTcpBindingConf"
						  contract="StockLoan.Locates.ILocatesDuplex" />
				<endpoint address="mex" binding="mexTcpBinding" name="MEX" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:5000/LocatesWebService" />
					</baseAddresses>
					<timeouts closeTimeout="00:00:10" />
				</host>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="netTcpBindingConf" transactionFlow="true" maxReceivedMessageSize="10000000">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="WcfBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>



</configuration>
 