<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFilePath" value="E:\Apps\XFL\Service\Logs" />
		<add key="LogLevel" value="3" />

		<add key="SenderoDatabaseHost" value="DALSQLDev50" />
		<add key="SenderoDatabaseName" value="Sendero" />
		<add key="XflDatabaseHost" value="Zeus" />
		<add key="XflDatabaseName" value="XFL"/>
		
		<add key="CountryCode" value="US" />
	</appSettings>
</configuration>