<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HeartbeatInterval" value="20000" />
    <add key="TempPath" value="C:\Sendero\Temp\" />
    <add key="LogFilePath" value="C:\Sendero\Logs\" />
    <add key="LogLevel" value="3" />

    <add key="MainDatabaseHost" value="dalsql20" />
    <add key="MainDatabaseName" value="sendero_dev" />

    <add key="ChannelProtocol" value="tcp" />    
    <add key="ChannelFormatter" value="binary" />    
    <add key="ChannelPort" value="8822" />
    
    <add key="UseProcessAgent" value="true" />
    <add key="UseSmartSegAgent" value="true" />
    <add key="BookGroupList" value="0234;7380;" />

    <add key = "BankLoanOutputFilePath0234" value="C:\Shares\Sendero\Temp\" />
    <add key = "BankLoanDtcHost0234" value = "sftp.penson.com" />
    <add key = "BankLoanDtcPath0234" value = "/download/APIBAL.txt" />
    <add key = "BankLoanDtcUserId0234" value = "sendero" />
    <add key = "BankLoanDtcPassword0234" value = "3rag=6Ru" />

    <add key="AccountInformation" value="07;C;2;;USD;" />
    
    <add key="WebServiceFaxEnabled" value = "True" />
    <add key="WebServiceEmailEnabled" value = "True" />

    <add key="WebServiceSmtpHost" value = "mail.stockloan.net" />
    <add key="WebServiceSmtpUserId" value = "penson@stockloan.net" />
    <add key="WebServiceSmtpPassword" value = "southChurch" />

    <add key="WebServiceURI" value="http://test.stockloan.net/WebServices/" />
    <add key="WebServiceUserCode" value="PFS.US.S" />
    <add key="WebServicePassCode" value="dallasCowboys" />

    <add key="HttpWebProxy" value="ispen001.penson.com:8080" />

	<add key="Anetics.MedalistServer.SungardWS.SunGard" value=" http://ltpen-tpham.penson.com/Sungard/SunGard.asmx?wsdl "/>
    
	<add key="RemotingPort" value="8822" />
    <add key="CountryCode" value="US" />
  </appSettings>

  <system.runtime.remoting>
  <customErrors mode="Off"/>
    <application>      
      <channels>
        <channel ref="http" port = "0">
          <!-- Framework 1.1-->
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
          <serverProviders>
            <provider ref="binary"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
      <client>
        <wellknown
          type="Anetics.Process.IProcess, Anetics.Process"
          url="http://dalwebext01:8824/ProcessAgent.binary"	/>       
      </client>
      <client>
       <wellknown
          type="Anetics.SmartSeg.ISmartSeg, Anetics.SmartSeg"
          url="http://snds301.penson.com:1500/SmartSegAgent.binary"	/>
	</client>
    </application>    
  </system.runtime.remoting>
</configuration>
