<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TempPath" value="C:\LoanStarWorldWide\Temp\" />
    <add key="LogFilePath" value="C:\LoanStarWorldWide\Logs\" />
    <add key="FileArchivePath" value="C:\LoanStarWorldWide\Archive\" />
    <add key="XmlDefinitionPath" value="C:\LoanStarWorldWide\Xml\" />

    <add key="LogLevel" value="3" />
    <add key="CountryCode" value="US" />
    
    <!-- Development Database Connections -->
    <add key="MainDatabaseHost" value="DALSQLDEV50" />
    <add key="MainDatabaseName" value="LoanStar" />

    <!-- Production Database Connections -->
    <!-- <add key="MainDatabaseHost" value="Zeus"/> -->
    <!-- <add key="MainDatabaseName" value="Sendero"/> -->
    <!-- <add key="WorldWideDatabaseHost" value="Apollo\History"/> -->
    <!-- <add key="WorldWideDatabaseName" value="WorldWide"/> -->
    
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>