<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LoggerLevel" value="1" />
		
		<add key="MainDatabaseHost" value="DALSQLDev50" />
		<add key="MainDatabaseName" value="Locates" />
		<add key="RefuseImportOldDates" value="True" />

		<add key="InventoryLocalDestination" value="D:\VAR\" />
		<add key="InventoryFTPSubDir" value="InventoryFTP\" />
		<add key="InventoryEmailSubDir" value="InventoryEmail\" />

		<add key="InventoryImportExchangeServiceURL" value="https://webmail.penson.com/EWS/Exchange.asmx" />
		<add key="InventoryImportExchangeNTDomain" value="PENDAL_NT" />
		
		<add key="InventoryImportEmailDomain" value="penson.com" />
		<add key="InventoryImportSupportEmailAddress" value="bpritchard@penson.com" />

		<add key="InventoryImportExchangeLoginAsServiceUser" value="true" />
		<add key="InventoryImportExchangeUsername" value="stockloan_inventory" />
		<add key="InventoryImportExchangePassword" value="Thereisnospoon." />

		<add key="InventoryDataInsertProcedure" value= "spInventoryItemSet" />

		<add key="InventorySubscriberService" value="vwInventorySubscriberService" />
		<add key="InventorySubscriberBatch" value="vwInventorySubscriberBatch" />
		<add key="InventorySubscriberBatchOrder"  value="SubscriptionTypeID ASC, FileCheckTime ASC" />

		<add key="InventorySubscriptionTypeTable" value="tbInventorySubscriptionTypes" />
		<add key="InventorySubscriptionTypeView" value="vwInventorySubscriptionTypes" />
		<add key="ImportTypeRelationName" value="SubscriptionTypes" />

		<add key="InventoryFilePatternInsertProcedure" value="spInventoryFilePatternInsert" />
		<add key="InventoryFilePatternTable" value="tbInventoryFilePatterns" />
		<add key="InventoryFilePatternView" value="vwInventoryFilePatterns" />
		<add key="ImportMaskRelationName" value="SubscriptionMasks" />

		<add key="InventoryExecutionInsertProcedure" value="spInventoryImportExecutionInsert" />
		<add key="InventoryExecutionSelectProcedure" value="spInventoryImportExecutionGet" />
		<add key="InventoryExecutionSelectFrom" value="tbInventoryImportExecution" />
		<add key="ImportExecutionRelationName" value="SubscriptionExecutions" />

		<add key="InventoryKeyValueSelectFrom" value="tbKeyValues" />
		<add key="InventoryKeyValueSelectFields" value="KeyID, KeyValue" />
		<add key="InventoryKeyValueSelectWhere" value="true" />

		<add key="InventoryDeskSelectFrom" value="tbDesks" />
		<add key="InventoryDeskSelectFields" value="Desk, FirmCode, CountryCode, DeskTypeCode" />
		<add key="InventoryDeskSelectWhere" value="true" />
		<add key="InventoryDeskSubscriberRelationName" value="DeskSubscriptions" />
		<add key="InventoryDeskHolidayRelationName" value="DeskHolidays" />

	</appSettings>

</configuration>