<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TempPath" value="C:\Sendero\Temp\" />
    <add key="LogFilePath" value="C:\Sendero\Logs\" />
	<add key="FileArchivePath" value="C:\S3\Archive\" />
	
	<add key="LogLevel" value="3"/>    	
	
	<add key="OpenItemsFile" value="SSSOI.ASC"/>
	<add key="SelectedPnsFile" value="SSSPS.ASC"/>	
    <add key="ManualPrioritiesFile" value="SSSMANP.ASC"/>
    
    <add key="MainDatabaseHost" value="dalsql20" />
    <add key="MainDatabaseName" value="sendero_DEV" />
  
	<add key="PensonDatabaseHost" value="dalsqldev01" />
    <add key="PensonDatabaseName" value="WorldWide" />
  
	<add key="S3FtpServers" value = "0" />
	
	<add key="S3FtpHost[0]" value="localhost" />
	<add key="S3FtpUser[0]" value="ClientFtp" />
	<add key="S3FtpPassword[0]" value="$303234Xmt!!" />
  
	<add key="S3FtpHost[1]" value="localhost" />
	<add key="S3FtpUser[1]" value="ClientFtp" />
	<add key="S3FtpPassword[1]" value="$303234Xmt!!" />
  
    <add key="RemotingPort" value="8824" />
   
    <add key="ChannelProtocal" value="tcp" />
    <add key="ChannelFormatter" value="binary" />    
    <add key="ChannelPort" value="8822" />

    <add key="QueueManagerName" value="QM_SSF_SAL_S303" />
    <add key="HostName" value="localhost" />
    <add key="Channel" value="S_SSF_SAL_S303" />
    <add key="Port" value="1414" />
    
    <add key="DelayOnQueueErrorSeconds" value="150" />
    <add key="DelayOnBizDateRollSeconds" value="30" />
    <add key="DelayOnActivitySuspendSeconds" value = "0" />
    
    <add key="RemoteQueueManagerName" value = "LOANET" />

    <add key="SubstitutionResponseQueueManagerName" value="QM_SSF_SAL_S303" />
    <add key="SubstitutionResponseQueueName" value="" />
    <add key="SubstitutionResponseWaitSeconds" value="40" />
    
    <add key="SubstitutionRequestQueueManagerName" value="QM_SSF_SAL_S303" />
    <add key="SubstitutionRequestQueueName" value="" />    
         
    <!-- Ftp files configuration settings -->
    <add key="NumberOfFiles" value="4" />
    <add key="File[0]" value="\\ftpen002\shrNDMTransfer\S3_Data\sssdate.asc;sssdate.asc;0;8" />
    <add key="File[1]" value="\\ftpen002\shrNDMTransfer\S3_Data\sssdefex.asc;sssdefex.asc;11;8" />
    <add key="File[2]" value="\\ftpen002\shrNDMTransfer\S3_Data\sssslsr.asc;sssslsr.asc;11;8" />
    <add key="File[3]" value="\\ftpen002\shrNDMTransfer\S3_Data\ssssmst.asc;ssssmst.asc;11;8" />
    <add key="RequiredFiles" value="sssdate.asc;sssdefex.asc;sssoi.asc;sssps.asc;sssslsr.asc;ssssmst.asc;sssmanp.asc" />
    
    <add key="ZipFilePath" value="C:\S3\Archive" />
          
    <add key="S3SegEntriesZipFile" value="SSSENT.ZIP" />
    <add key="S3SegEntriesFileHostName" value="Dalhq-ftp02" />
    <add key="S3SegEntriesFileUserName" value="sthree" />
    <add key="S3SegEntriesFilePassword" value="8lQz3oGS" />
    <add key="S3SegEntriesFile" value="osssent.asc" />
    
	<add key="S3ExternalInventoryFile" value="SSSINV.ASC" />	
    
    <add key="TransferAsZip" value="True" />
    
    <add key="PensonFtpServerHost" value="Dalhq-ftp02" />
    <add key="PensonFtpServerUserName" value="sthree" />
    <add key="PensonFtpServerPassword" value="8lQz3oGS" />  
	<add key="SegEntriesWebService" value="http://snds301/STKSeg/STKSegModule.asmx?wsdl" />


  </appSettings>
  
   <system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="0">
					<!-- Framework 1.1
					 -->
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>

					<serverProviders>
						<provider ref="binary"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>				
			</channels>
			<client>			
				<wellknown
					type="Anetics.Process.IProcess, Anetics.Process"
					url="tcp://dalwebext01:8823/ProcessAgent.binary"	
				/>
			</client>
		</application>
	</system.runtime.remoting>
</configuration>
