<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="HeartbeatInterval" value="20000" />
	<add key="TempPath" value="C:\Central\Temp\" />
	<add key="LogFilePath" value="C:\Central\Logs\" />
	<add key="LogLevel" value="3" />
	
	<add key="MainDatabaseHost" value = "DALSQLDEV50"/>
	<add key="MainDatabaseName" value = "Sendero"/>

	<!-- Aztec Parameters-->
	<add key="AztecFtpHost" value ="ftp.loanet.com"/>
	<add key="AztecFtpUserName" value="0234" />
	<add key="AztecFtpPassword" value="rid7bwk3bs"/>
	<add key="AztecFtpFilePath" value="/0234/bod/aro0234"/>

	<add key="AztecBookGroup" value="0234"  />
	<add key="AztecParserType" value="D"  />
	<add key="AztecDelimiter" value="|" />
	<add key="AztecIgnoreWords" value ="Date" />
	<add key="AztecDatePosition" value ="0" />
	<add key="AztecBookGroupPosition" value ="1" />
	<add key="AztecSecIdPosition" value ="2" />
	<add key="AztecRatePosition" value ="4" />	  	   

	<add key="CountryCode" value="US" />
  </appSettings>
</configuration>
 