<?xml version="1.0" encoding="windows-1258" ?>
<configuration> 
  <appSettings>
    <add key="HeartbeatInterval" value="20000" />
    <add key="TempPath" value="C:\Sendero\Temp\" />
    
    <add key="LogFilePath" value="C:\Sendero\Logs\" />
    <add key="LogLevel" value="3" />

    <add key="MainDatabaseHost" value="APOLLO\HISTORY" />
    <add key="MainDatabaseName" value="Sendero" />
    
    <add key="RemotingPort" value="8824" />
    
    <add key="FileHost" value="ftp.loanet.com" />
    <add key="FileUserId" value="0234" />
    <add key="FilePassword" value="rid7bwk3bs" />
    
    <add key="PositionRemotePath" value="/0234/eod/" />
    <add key="PositionFileList(peo)" value="0234;7380;" />
    <add key="PositionFileList(plo)" value="" />
    
    <add key="MarksRemotePath" value="/0234/bod/" />
    <add key="MarksFileList" value="0234;7380;" />

    <add key="RecallsRemotePath" value="/0234/eod/" />
    <add key="RecallsFileList" value="0234;7380;" />
    
    <add key="ClientsLongRemotePath" value="/0234/eod/" />
    <add key="ClientsLongFileList" value="0234;7380;" />

<!-- 
	Sendero Prod Connect to Loanet Prod, 
	this must be dedicated connection
	208.252.13.124 is Loanet Test Server, P for Production
 -->

    <add key="QueueManagerName" value="LOANET" />
    <add key="HostName" value="208.252.13.124" />
    <add key="Channel" value="P0234100_SVRCONN.C1" />
    <add key="Port" value="14112" />
    
    <add key="DelayOnQueueErrorSeconds" value="150" />
    <add key="DelayOnBizDateRollSeconds" value="30" />
    <add key="DelayOnActivitySuspendSeconds" value = "0" />
    
    <add key="RemoteQueueManagerName" value = "LOANET" />

    <add key="ActivityQueueManagerName" value="P0234100" />
    <add key="ActivityQueueName" value="LNT.ACTIVITY.Q01" />
    <add key="ActivityWaitSeconds" value="40" />

    <add key="ReplyQueueManagerName" value="P0234100" />
    <add key="ReplyQueueName" value="LNT.REPLY.Q01" />
    <add key="ReplyWaitSeconds" value="40" />
   
    <add key="ContractAddQueueManagerName" value="P0234100" />
    <add key="ContractAddQueueName" value="LNT.CONTRACT.ADD.Q01" />    
   
    <add key="RecallQueueManagerName" value="P0234100" />
    <add key="RecallQueueName" value="LNT.RECALL.Q01" />    
   
    <add key="ContractMaintenanceQueueManagerName" value="P0234100" />
    <add key="ContractMaintenanceQueueName" value="LNT.CONTRACT.MAINT.Q01" />    
    
    <add key="ReturnQueueManagerName" value="P0234100" />
    <add key="ReturnQueueName" value="LNT.RETURN.Q01" />    
         
    <add key="CallbackQueueManagerName" value="P0234100" />
    <add key="CallbackQueueName" value="LNT.CALLBACK.Q01" />   
    
    <add key="LoanetCoOpUserId0234" value="P0234100" />
    <add key="LoanetCoOpPassword0234" value="6p4m9sbv" />

	<add key="LoanetCoOpUserId7380" value="" />
    <add key="LoanetCoOpPassword7380" value="" />

  </appSettings>
</configuration>
