<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFilePath" value="C:\NorthStar\Logs\" />
		<add key="LogLevel" value="3" />

		<add key="Licensee" value="StockLoan, LLC" />
		<add key="ApplicationName" value="NorthStar" />
	</appSettings>

	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="0">
					<serverProviders>
						<provider ref="binary"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
			<client>
				<wellknown
				  type="StockLoan.NorthStar.IShortInterest, StockLoan.NorthStar"
				  url="tcp://DALWFPRD01:8823/ShortInterestAgent.binary"
			/>
			</client>
			<client>
				<wellknown
				  type="StockLoan.NorthStar.ITrade, StockLoan.NorthStar"
				  url="tcp://DALWFPRD01:8823/TradeAgent.binary"
			/>
			</client>
		</application>
	</system.runtime.remoting>
</configuration>
