<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BookGroup0234_Locale" value="Domestic"/>
    <add key="BookGroup0158_Locale" value="Domestic"/>
    <add key="BookGroup5036_Locale" value="Domestic"/>
    <add key="BookGroup7380_Locale" value="Domestic"/>
    <add key="BookGroupPFSL_Locale" value="International"/>
    <add key="BookGroupPFSI_Locale" value="International"/>
    <add key="TempPath" value="C:\Temp\"/>
    <add key="FileHost0234" value="ftp.loanet.com"/>
    <add key="FileUserId0234" value="0234"/>
    <add key="FilePassword0234" value="rid7bwk3bs"/>
    <add key="FilePath0234" value="/0234/LCOR/"/>
    <add key="FileHost0158" value="ftp.loanet.com"/>
    <add key="FileUserId0158" value="0158"/>
    <add key="FilePassword0158" value="usc5ear8ng"/>
    <add key="FilePath0158" value="/0158/LCOR/"/>
    <add key="SenderoDatabase" value="Trusted_Connection=yes;Data Source=Zeus;Initial Catalog=Sendero;"/>
    <add key="LoanstarDatabase" value="Trusted_Connection=yes;Data Source=SSLON004;Initial Catalog=Loanstar;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
