<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="HeartbeatInterval" value="20000" />
      <add key="TempPath" value="C:\LoanStarTEST\Temp\" />
      <add key="LogFilePath" value="C:\LoanStarTEST\Logs\" />
      <add key="LogLevel" value="3" />

    <!-- Production Server is in WORLDWIDE Domain 
      <add key="MainDatabaseHost" value="SSLON004" />
      <add key="MainDatabaseName" value="Loanstar" />
  	-->
    
    <!-- Development Server is Localhost in PenDal_NT Domain -->
    <add key="MainDatabaseHost" value="DalSqlDev50" />
    <add key="MainDatabaseName" value="Loanstar" />

  </appSettings>
</configuration>
 