<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
  </configSections>
  <appSettings>

    <!-- Production Server is in WORLDWIDE Domain 
      <add key="MainDatabaseHost" value="SSLON004" />
      <add key="MainDatabaseName" value="Loanstar" />
  	-->
    
    <add key="smtpHost" value ="EXPENVS1.penson.com"/>
    
    <!-- Development Server is Localhost in PenDal_NT Domain -->
    <add key="MainDatabaseHost" value="DalSqlDEv50" />
    <add key="MainDatabaseName" value="Loanstar" />

  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Windows" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="StockLoan.WebServices.AdminService.AdminBehavior" name="StockLoan.WebServices.AdminService.AdminService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.AdminService.IAdminService">
          <identity>
            <dns value="dalgsldev01" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.BooksService.BooksBehavior" name="StockLoan.WebServices.BooksService.BooksService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.BooksService.IBooksService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.ContractsService.ContractsBehavior" name="StockLoan.WebServices.ContractsService.ContractsService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.ContractsService.IContractsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.DealsService.DealsBehavior" name="StockLoan.WebServices.DealsService.DealsService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.DealsService.IDealsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.FunctionsService.FunctionsBehavior" name="StockLoan.WebServices.FunctionsService.FunctionsService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.FunctionsService.IFunctionsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.FundsService.FundsBehavior" name="StockLoan.WebServices.FundsService.FundsService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.FundsService.IFundsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.InventoryService.InventoryBehavior" name="StockLoan.WebServices.InventoryService.InventoryService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.InventoryService.IInventoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.MarksService.MarksBehavior" name="StockLoan.WebServices.MarksService.MarksService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.MarksService.IMarksService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.PositionsService.PositionsBehavior" name="StockLoan.WebServices.PositionsService.PositionsService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.PositionsService.IPositionsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.RecallsService.RecallsBehavior" name="StockLoan.WebServices.RecallsService.RecallsService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.RecallsService.IRecallsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.ReturnsService.ReturnsBehavior" name="StockLoan.WebServices.ReturnsService.ReturnsService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.ReturnsService.IReturnsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.SecMasterService.SecMasterBehavior" name="StockLoan.WebServices.SecMasterService.SecMasterService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.SecMasterService.ISecMasterService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.SecurityService.SecurityBehavior" name="StockLoan.WebServices.SecurityService.SecurityService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.SecurityService.ISecurityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="StockLoan.WebServices.UserAdminService.UserAdminBehavior" name="StockLoan.WebServices.UserAdminService.UserAdminService">
        <endpoint address="" binding="basicHttpBinding" contract="StockLoan.WebServices.UserAdminService.IUserAdminService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StockLoan.WebServices.AdminService.AdminBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.BooksService.BooksBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.ContractsService.ContractsBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.DealsService.DealsBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.FunctionsService.FunctionsBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.FundsService.FundsBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.InventoryService.InventoryBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.MarksService.MarksBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.PositionsService.PositionsBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.RecallsService.RecallsBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.ReturnsService.ReturnsBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.SecMasterService.SecMasterBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.SecurityService.SecurityBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="StockLoan.WebServices.UserAdminService.UserAdminBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
            <remove name="WebServiceHandlerFactory-Integrated" />
            <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
            <add name="WebServiceHandlerFactory-ISAPI-2.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
        </handlers>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>



