<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="C1.Silverlight" publicKeyToken="2AA4EC5576D6C3CE" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.20103.86" newVersion="4.0.20103.86"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="C1.Silverlight.Zip" publicKeyToken="2AA4EC5576D6C3CE" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.20103.86" newVersion="4.0.20103.86"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
