<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SourceDestinationHeaders" value="35"/>

    <!--Contracts-->
    <add key="OpenTradesSource[0]" value="trade_ref"/>
    <add key="OpenTradesDestination[0]" value="ContractId"/>
    <add key="OpenTradesTranslation[0]" value="Y"/>

    <add key="OpenTradesSource[1]" value="alt_trade_ref"/>
    <add key="OpenTradesDestination[1]" value="ContractId"/>
    <add key="OpenTradesTranslation[1]" value="Y"/>

    <add key="OpenTradesSource[2]" value="trade_date"/>
    <add key="OpenTradesDestination[2]" value="ValueDate"/>
    <add key="OpenTradesTranslation[2]" value="Y"/>

    <add key="OpenTradesSource[3]" value="trade_type"/>
    <add key="OpenTradesDestination[3]" value="Stock Borrow / Loan"/>
    <add key="OpenTradesTranslation[3]" value="Y"/>

    <add key="OpenTradesSource[4]" value="borrow_loan_ind"/>
    <add key="OpenTradesDestination[4]" value="ContractType"/>
    <add key="OpenTradesTranslation[4]" value="Y"/>

    <add key="OpenTradesSource[5]" value="created_by"/>
    <add key="OpenTradesDestination[5]" value="traders@pensonuk.com"/>
    <add key="OpenTradesTranslation[5]" value="Y"/>

    <add key="OpenTradesSource[6]" value="group_cd"/>
    <add key="OpenTradesDestination[6]" value="Book"/>
    <add key="OpenTradesTranslation[6]" value="Y"/>

    <add key="OpenTradesSource[7]" value="group_descr"/>
    <add key="OpenTradesDestination[7]" value="BookName"/>
    <add key="OpenTradesTranslation[7]" value="Y"/>

    <add key="OpenTradesSource[8]" value="sec_code"/>
    <add key="OpenTradesDestination[8]" value="SecId"/>
    <add key="OpenTradesTranslation[8]" value="Y"/>

    <add key="OpenTradesSource[9]" value="sec_descr"/>
    <add key="OpenTradesDestination[9]" value="Description"/>
    <add key="OpenTradesTranslation[9]" value="Y"/>

    <add key="OpenTradesSource[10]" value="sec_isin"/>
    <add key="OpenTradesDestination[10]" value="ISIN"/>
    <add key="OpenTradesTranslation[10]" value="Y"/>

    <add key="OpenTradesSource[11]" value="sec_ticker"/>
    <add key="OpenTradesDestination[11]" value="Symbol"/>
    <add key="OpenTradesTranslation[11]" value="Y"/>

    <add key="OpenTradesSource[12]" value="sec_country"/>
    <add key="OpenTradesDestination[12]" value="SecurityDepot"/>
    <add key="OpenTradesTranslation[12]" value="Y"/>

    <add key="OpenTradesSource[13]" value="market_ccy"/>
    <add key="OpenTradesDestination[13]" value="CurrencyIso"/>
    <add key="OpenTradesTranslation[13]" value="Y"/>

    <add key="OpenTradesSource[14]" value="quantity"/>
    <add key="OpenTradesDestination[14]" value="Quantity"/>
    <add key="OpenTradesTranslation[14]" value="Y"/>

    <add key="OpenTradesSource[15]" value="market_price"/>
    <add key="OpenTradesDestination[15]" value="Price"/>
    <add key="OpenTradesTranslation[15]" value="Y"/>

    <add key="OpenTradesSource[16]" value="collateral_value"/>
    <add key="OpenTradesDestination[16]" value="Amount"/>
    <add key="OpenTradesTranslation[16]" value="Y"/>

    <add key="OpenTradesSource[17]" value="cash_value"/>
    <add key="OpenTradesDestination[17]" value="Amount"/>
    <add key="OpenTradesTranslation[17]" value="Y"/>

    <add key="OpenTradesSource[18]" value="cash_ccy"/>
    <add key="OpenTradesDestination[18]" value="CurrencyIso"/>
    <add key="OpenTradesTranslation[18]" value="Y"/>

    <add key="OpenTradesSource[19]" value="fee_rate"/>
    <add key="OpenTradesDestination[19]" value="FeeRate"/>
    <add key="OpenTradesTranslation[19]" value="Y"/>

    <add key="OpenTradesSource[20]" value="fee_basis"/>
    <add key="OpenTradesDestination[20]" value="365"/>
    <add key="OpenTradesTranslation[20]" value="Y"/>

    <add key="OpenTradesSource[21]" value="rebate_rate"/>
    <add key="OpenTradesDestination[21]" value="Rate"/>
    <add key="OpenTradesTranslation[21]" value="Y"/>

    <add key="OpenTradesSource[22]" value="rebate_basis"/>
    <add key="OpenTradesDestination[22]" value="365"/>
    <add key="OpenTradesTranslation[22]" value="Y"/>

    <add key="OpenTradesSource[23]" value="index_name"/>
    <add key="OpenTradesDestination[23]" value="Fund"/>
    <add key="OpenTradesTranslation[23]" value="Y"/>

    <add key="OpenTradesSource[24]" value="index_rate"/>
    <add key="OpenTradesDestination[24]" value="FundingRate"/>
    <add key="OpenTradesTranslation[24]" value="Y"/>

    <add key="OpenTradesSource[25]" value="sec_settlement_date"/>
    <add key="OpenTradesDestination[25]" value="SettleDate"/>
    <add key="OpenTradesTranslation[25]" value="Y"/>

    <add key="OpenTradesSource[26]" value="cash_settlement_date"/>
    <add key="OpenTradesDestination[26]" value="SettleDate"/>
    <add key="OpenTradesTranslation[26]" value="Y"/>

    <add key="OpenTradesSource[27]" value="mark_margin"/>
    <add key="OpenTradesDestination[27]" value="Margin"/>
    <add key="OpenTradesTranslation[27]" value="Y"/>

    <add key="OpenTradesSource[28]" value="dividend_rate"/>
    <add key="OpenTradesDestination[28]" value="DivRate"/>
    <add key="OpenTradesTranslation[28]" value="Y"/>

    <add key="OpenTradesSource[29]" value="dvp_indicator"/>
    <add key="OpenTradesDestination[29]" value="DeliveryType"/>
    <add key="OpenTradesTranslation[29]" value="N"/>
    <add key="OpenTradesTranslationValue[29]_DVP" value="Y"/>
    <add key="OpenTradesTranslationValue[29]_" value="Y"/>
    <add key="OpenTradesTranslationValue[29]_FOP" value="N"/>

    <add key="OpenTradesSource[30]" value="mark_ind"/>
    <add key="OpenTradesDestination[30]" value="Y"/>
    <add key="OpenTradesTranslation[30]" value="Y"/>

    <add key="OpenTradesSource[31]" value="trade_collateral_ind"/>
    <add key="OpenTradesDestination[31]" value="CollateralCode"/>
    <add key="OpenTradesTranslation[31]" value="N"/>
    <add key="OpenTradesTranslationValue[31]_N" value="C"/>
    <add key="OpenTradesTranslationValue[31]_C" value="T"/>
    <add key="OpenTradesTranslationValue[31]_P" value="T"/>


    <add key="OpenTradesSource[32]" value="loan_return_ind"/>
    <add key="OpenTradesDestination[32]" value="L"/>
    <add key="OpenTradesTranslation[32]" value="L"/>


    <add key="OpenTradesSource[33]" value="PoolCode"/>
    <add key="OpenTradesDestination[33]" value="PoolCode"/>
    <add key="OpenReturnsTranslation[33]" value="Y"/>


    <add key="OpenTradesSource[34]" value="CollateralCode"/>
    <add key="OpenTradesDestination[34]" value="CollateralCode"/>
    <add key="OpenTradesTranslation[34]" value="Y"/>

    <!--Returns-->
    <add key="OpenReturnsSource[0]" value="trade_ref"/>
    <add key="OpenReturnsDestination[0]" value="ReturnId"/>
    <add key="OpenReturnsTranslation[0]" value="Y"/>

    <add key="OpenReturnsSource[1]" value="alt_trade_ref"/>
    <add key="OpenReturnsDestination[1]" value="ContractId"/>
    <add key="OpenReturnsTranslation[1]" value="Y"/>

    <add key="OpenReturnsSource[2]" value="trade_date"/>
    <add key="OpenReturnsDestination[2]" value=" "/>
    <add key="OpenReturnsTranslation[2]" value=" "/>

    <add key="OpenReturnsSource[3]" value="trade_type"/>
    <add key="OpenReturnsDestination[3]" value="Stock Borrow / Loan"/>
    <add key="OpenReturnsTranslation[3]" value="Y"/>

    <add key="OpenReturnsSource[4]" value="borrow_loan_ind"/>
    <add key="OpenReturnsDestination[4]" value="ContractType"/>
    <add key="OpenReturnsTranslation[4]" value="Y"/>

    <add key="OpenReturnsSource[5]" value="created_by"/>
    <add key="OpenReturnsDestination[5]" value="traders@pensonuk.com"/>
    <add key="OpenReturnsTranslation[5]" value="Y"/>

    <add key="OpenReturnsSource[6]" value="group_cd"/>
    <add key="OpenReturnsDestination[6]" value="Book"/>
    <add key="OpenReturnsTranslation[6]" value="Y"/>

    <add key="OpenReturnsSource[7]" value="group_descr"/>
    <add key="OpenReturnsDestination[7]" value="BookName"/>
    <add key="OpenReturnsTranslation[7]" value="Y"/>

    <add key="OpenReturnsSource[8]" value="sec_code"/>
    <add key="OpenReturnsDestination[8]" value="SecId"/>
    <add key="OpenReturnsTranslation[8]" value="Y"/>

    <add key="OpenReturnsSource[9]" value="sec_descr"/>
    <add key="OpenReturnsDestination[9]" value="Description"/>
    <add key="OpenReturnsTranslation[9]" value="Y"/>

    <add key="OpenReturnsSource[10]" value="sec_isin"/>
    <add key="OpenReturnsDestination[10]" value="ISIN"/>
    <add key="OpenReturnsTranslation[10]" value="Y"/>

    <add key="OpenReturnsSource[11]" value="sec_ticker"/>
    <add key="OpenReturnsDestination[11]" value="Symbol"/>
    <add key="OpenReturnsTranslation[11]" value="Y"/>

    <add key="OpenReturnsSource[12]" value="sec_country"/>
    <add key="OpenReturnsDestination[12]" value="SecurityDepot"/>
    <add key="OpenReturnsTranslation[12]" value="Y"/>

    <add key="OpenReturnsSource[13]" value="market_ccy"/>
    <add key="OpenReturnsDestination[13]" value="CurrencyIso"/>
    <add key="OpenReturnsTranslation[13]" value="Y"/>

    <add key="OpenReturnsSource[14]" value="quantity"/>
    <add key="OpenReturnsDestination[14]" value="Quantity"/>
    <add key="OpenReturnsTranslation[14]" value="Y"/>

    <add key="OpenReturnsSource[15]" value="market_price"/>
    <add key="OpenReturnsDestination[15]" value="Price"/>
    <add key="OpenReturnsTranslation[15]" value="Y"/>

    <add key="OpenReturnsSource[16]" value="collateral_value"/>
    <add key="OpenReturnsDestination[16]" value="CashReturn"/>
    <add key="OpenReturnsTranslation[16]" value="Y"/>

    <add key="OpenReturnsSource[17]" value="cash_value"/>
    <add key="OpenReturnsDestination[17]" value="CashReturn"/>
    <add key="OpenReturnsTranslation[17]" value="Y"/>

    <add key="OpenReturnsSource[18]" value="cash_ccy"/>
    <add key="OpenReturnsDestination[18]" value="CurrencyIso"/>
    <add key="OpenReturnsTranslation[18]" value="Y"/>

    <add key="OpenReturnsSource[19]" value="fee_rate"/>
    <add key="OpenReturnsDestination[19]" value="FeeRate"/>
    <add key="OpenReturnsTranslation[19]" value="Y"/>

    <add key="OpenReturnsSource[20]" value="fee_basis"/>
    <add key="OpenReturnsDestination[20]" value="365"/>
    <add key="OpenReturnsTranslation[20]" value=""/>

    <add key="OpenReturnsSource[21]" value="rebate_rate"/>
    <add key="OpenReturnsDestination[21]" value="RebateRate"/>
    <add key="OpenReturnsTranslation[21]" value="Y"/>

    <add key="OpenReturnsSource[22]" value="rebate_basis"/>
    <add key="OpenReturnsDestination[22]" value="365"/>
    <add key="OpenReturnsTranslation[22]" value=""/>

    <add key="OpenReturnsSource[23]" value="index_name"/>
    <add key="OpenReturnsDestination[23]" value=" "/>
    <add key="OpenReturnsTranslation[23]" value=" "/>

    <add key="OpenReturnsSource[24]" value="index_rate"/>
    <add key="OpenReturnsDestination[24]" value=" "/>
    <add key="OpenReturnsTranslation[24]" value=" "/>

    <add key="OpenReturnsSource[25]" value="sec_settlement_date"/>
    <add key="OpenReturnsDestination[25]" value="SettleDateProjected"/>
    <add key="OpenReturnsTranslation[25]" value="Y"/>

    <add key="OpenReturnsSource[26]" value="cash_settlement_date"/>
    <add key="OpenReturnsDestination[26]" value="SettleDateProjected"/>
    <add key="OpenReturnsTranslation[26]" value="Y"/>

    <add key="OpenReturnsSource[27]" value="mark_margin"/>
    <add key="OpenReturnsDestination[27]" value="Margin"/>
    <add key="OpenReturnsTranslation[27]" value="Y"/>

    <add key="OpenReturnsSource[28]" value="dividend_rate"/>
    <add key="OpenReturnsDestination[28]" value="DivRate"/>
    <add key="OpenReturnsTranslation[28]" value="Y"/>

    <add key="OpenReturnsSource[29]" value="dvp_indicator"/>
    <add key="OpenReturnsDestination[29]" value="DeliveryType"/>
    <add key="OpenReturnsTranslation[29]" value="N"/>
    <add key="OpenReturnsTranslationValue[29]_DVP" value="Y"/>
    <add key="OpenReturnsTranslationValue[29]_" value="Y"/>
    <add key="OpenReturnsTranslationValue[29]_FOP" value="N"/>


    <add key="OpenReturnsSource[30]" value="mark_ind"/>
    <add key="OpenReturnsDestination[30]" value="Y"/>
    <add key="OpenReturnsTranslation[30]" value="Y"/>

    <add key="OpenReturnsSource[31]" value="trade_collateral_ind"/>
    <add key="OpenReturnsDestination[31]" value="CollateralCode"/>
    <add key="OpenReturnsTranslation[31]" value="N"/>
    <add key="OpenReturnsTranslationValue[31]_N" value="C"/>
    <add key="OpenReturnsTranslationValue[31]_C" value="T"/>
    <add key="OpenReturnsTranslationValue[31]_P" value="T"/>


    <add key="OpenReturnsSource[32]" value="loan_return_ind"/>
    <add key="OpenReturnsDestination[32]" value="R"/>
    <add key="OpenReturnsTranslation[32]" value="R"/>


    <add key="OpenReturnsSource[33]" value="PoolCode"/>
    <add key="OpenReturnsDestination[33]" value="PoolCode"/>
    <add key="OpenReturnsTranslation[33]" value="Y"/>


    <add key="OpenReturnsSource[34]" value="CollateralCode"/>
    <add key="OpenReturnsDestination[34]" value="CollateralCode"/>
    <add key="OpenReturnsTranslation[34]" value="Y"/>


    <add key="Database" value="Trusted_Connection=yes;Data Source=SSLON004;Initial Catalog=Loanstar;"/>
    <add key="UserId" value="mbattaini@penson.com"/>
    <add key="HomePath" value="C:\Program Files (x86)\GNU\GnuPG\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
