<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventsEnabled" value="True" />
    <add key="HeartbeatInterval" value="20000" />

    <add key="Database.Server" value="C:\LoanStar\Logs\" />
    <add key="Database.Name" value="Loanstar" />
    
    
  </appSettings>
</configuration>
