<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LoggerLevel" value="3" />	
		
		<add key="MainDatabaseHost" value="DALSQLDev50" />
		<add key="MainDatabaseName" value="Locates" />
		<add key="RefuseImportOldDates" value="True" />
		
		<add key="InventoryLocalDestination" value="C:\VAR\" />
		<add key="InventoryFTPSubDir" value="InventoryFTP\" />			
		<add key="InventoryEmailSubDir" value="InventoryEmail\" />

		<add key="InventoryImportExchangeServiceURL" value="https://webmail.penson.com/EWS/Exchange.asmx" />
		<add key="InventoryImportExchangeNTDomain" value="PENDAL_NT" />
		
		<add key="InventoryImportEmailDomain" value="penson.com" />
		<add key="InventoryImportSupportEmailAddress" value="bpritchard@penson.com" />

		<add key="InventoryImportExchangeLoginAsServiceUser" value="true" />
		<add key="InventoryImportExchangeUsername" value="stockloan_inventory" />
		<add key="InventoryImportExchangePassword" value="Thereisnospoon." />

		<add key="InventoryDataInsertProcedure" value= "spInventoryItemSet" />		
		
		<add key="InventorySubscriberService" value="vwInventorySubscriberService" />
		<add key="InventorySubscriberBatch" value="vwInventorySubscriberBatch" />
		<add key="InventorySubscriberBatchOrder"  value="SubscriptionTypeID ASC, FileCheckTime ASC" />

		<add key="InventorySubscriptionTypeTable" value="tbInventorySubscriptionTypes" />
		<add key="InventorySubscriptionTypeView" value="vwInventorySubscriptionTypes" />
		<add key="ImportTypeRelationName" value="SubscriptionTypes" />		
				
		<add key="InventoryFilePatternInsertProcedure" value="spInventoryFilePatternSet" />
		<add key="InventoryFilePatternTable" value="tbInventoryFilePatterns" />
		<add key="InventoryFilePatternView" value="vwInventoryFilePatterns" />
		<add key="ImportFilePatternRelationName" value="SubscriptionFilePattern" />
						
		<add key="InventoryExecutionInsertProcedure" value="spInventoryImportExecutionSet" />
		<add key="InventoryExecutionSelectProcedure" value="spInventoryImportExecutionGet" />		
		<add key="InventoryExecutionSelectFrom" value="tbInventoryImportExecution" />
		<add key="ImportExecutionRelationName" value="SubscriptionExecutions" />
		
		<add key="InventoryDeskTable" value="tbDesks" />
		<add key="InventoryDeskView" value="vwDesks" />
		<add key="ImportDeskRelationName" value="DeskSubscriptions" />	

		<add key="InventoryKeyValueTable" value="tbKeyValues" />
		<add key="InventoryKeyValueView" value="vwKeyValues" />	
		
	</appSettings>
	
</configuration>


		
				
