<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TempPath" value="C:\LoanStarWorldWide\Temp\" />
    <add key="LogFilePath" value="C:\LoanStarWorldWide\Logs\" />
    <add key="FileArchivePath" value="C:\LoanStarWorldWide\Archive\" />
    
    <add key="LogLevel" value="3" />
    <add key="CountryCode" value="US" />
    
    <!-- Development Database Connections -->
    <add key="MainDatabaseHost" value="DALSQLDEV50" />
    <add key="MainDatabaseName" value="LoanStar" />

  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>