<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <appSettings>
    <add key="HeartbeatInterval" value="20000" />
    <add key="TempPath" value="C:\Shares\Sendero\Temp\" />
    <add key="LogFilePath" value="C:\Shares\Sendero\Logs\" />
    <add key="LogLevel" value="3" />

    <add key="MainDatabaseHost" value="APOLLO\HISTORY" />
    <add key="MainDatabaseName" value="Sendero" />
    
    <add key="ChannelProtocal" value="tcp" /> <!-- [tcp|http] -->
    <add key="ChannelFormatter" value="binary" /> <!-- [binary|soap] -->
    <add key="ChannelPort" value="8822" /> <!-- [8822|80] -->
    <add key="UseProcessAgent" value="true" />
    <add key="BookGroupList" value="0234;7380;" />

	<add key = "BankLoanOutputFilePath0234" value="C:\Shares\Sendero\Temp\" />
    <add key = "BankLoanDtcHost0234" value = "ftp.penson.com" />
    <add key = "BankLoanDtcPath0234" value = "APIBAL.txt" />
    <add key = "BankLoanDtcUserId0234" value = "sendero" />
    <add key = "BankLoanDtcPassword0234" value = "Acce$$" />


    <add key="WebServiceFaxEnabled" value = "True" />
    <add key="WebServiceEmailEnabled" value = "True" />

    <add key="WebServiceSmtpHost" value = "mail.stockloan.net" />
    <add key="WebServiceSmtpUserId" value = "penson@stockloan.net" />
    <add key="WebServiceSmtpPassword" value = "southChurch" />

    <add key="WebServiceURI" value="http://test.stockloan.net/WebServices/" />
    <add key="WebServiceUserCode" value="PFS.US.S" />
    <add key="WebServicePassCode" value="dallasCowboys" />
    
    <add key="HttpWebProxy" value="ispen001.penson.com:8080" />
 
    <add key="RemotingPort" value="8822" />    
    <add key="CountryCode" value="US" />
  </appSettings>

  <system.runtime.remoting>
    <application>
      <channels>
	<channel ref="http" port="8825">
	  <!-- Framework 1.1-->
	  <clientProviders>
	    <formatter ref="binary"/>
	  </clientProviders>
          <serverProviders>
	    <provider ref="binary"/>
	    <formatter ref="binary" typeFilterLevel="Full"/>
	  </serverProviders>
	</channel>				
      </channels>
      <client>			
	<wellknown
	  type="Anetics.Process.IProcess, Anetics.Process"
	  url="http://wwpen002.penson.com:8824/ProcessAgent.binary"	
	/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
